<div class="pusher" style="background-image: none!important">
	<div class="ui inverted vertical masthead center aligned segment" style="padding: 100px;margin-top:0px;top:0px;">
		<div class="ui text container">
			<div style="padding: 50px!important; margin-top:-50px">
				<h1 class="ui center aligned icon header" style="font-size:550%!important;color:white">
					{{title}}
					<div class="sub header" style="color:white">L'outil de recherche intelligent en collaboration avec <span style="font-weight: bold; font-size: 1.2em">Cowaboo </span></div>
				</h1>
			</div>
			<div class="ui buttons">
				<div class="ui huge primary button button-connect" (click)="connect()">Se connecter<i class="right sign in icon"></i></div>
				<div class="or" data-text="ou" style="margin-left:5px; margin-right: 5px"></div>
				<div class="ui huge primary button button-connect2" (click)="join()">Rejoindre la communauté<i class="right users icon"></i></div>
			</div>
		</div>
	</div>

	<div class="ui vertical stripe segment" style="background-color: white!important; padding: 50px">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="wide column">
					<div style="float: left;text-align: left!important;">
						<i class="icon handshake" style="font-size: 5em"></i>
						<h3 class="ui header left" style="margin-top: -5px;">Un outil d'apprentissage </h3>
						<p>L'outil vous permet d'apprendre de nouvelles définitions grâce à son interface en 3D et une navigation dynamique à travers les termes.</p>
						<br>
					</div>

					<hr style="clear: both!important">
					<div style="float: right;text-align: right!important">
						<i class="icon world" style="font-size: 5em;margin-top:50px;"></i>
						<h3 class="ui header" style="margin-top: -5px;">Ouvert à tous </h3>
						<p>Tout le monde peut rejoindre la communauté de GraphToLearn, votre demande devra alors être accepté par un membre de la communauté.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modalJoinCommunity" class="ui modal">
	<i class="close icon"></i>
	<div class="header text-center">
		Rejoindre la communauté de GraphToLearn
	</div>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<div class="ui message">
				<i class="ui info icon" style="color:#1e70bf"></i>
				Après avoir reçu vos informations de connexion <strong>(Secret Key)</strong> qui vous seront envoyées par email, votre demande devra être acceptée par un membre de la communauté pour commencer à travailler sur l'outil.
			</div>
			<form class="ui large form">
				<div class="ui stacked segment actions">
					<div class="field required">
						<div class="ui left icon input">
							<i class="mail icon"></i>
							<input type="mail" class="input-insert" (focus)="focusPassword()" name="mail" [(ngModel)]="mail" [ngModelOptions]="{standalone: true}" placeholder="Insérer votre mail">
						</div>
					</div>
					<div class="ui fluid large teal button button-connect-modal" [ngClass]="{'loading' : loadingButton}" style="margin-left:0px" (click)="launchRegistration()">Envoyer demande<i class="right send icon"></i></div>
				</div>
				<div *ngIf="errorMail" class="ui error error-message" style="margin-bottom: 12px">
					{{errorTextMail}}
				</div>
			</form>
		</div>
	</div>
</div>

<div id="modalConnection" class="ui modal">
	<i class="close icon"></i>
	<div class="header text-center">
		Connexion à GraphToLearn
	</div>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<form class="ui large form">
				<div class="ui stacked segment actions">
					<div class="field required">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input type="password" (focus)="focusPassword()" class="input-insert" name="password" [(ngModel)]="secretKey" placeholder="Secret Key">
						</div>
					</div>
					<div class="ui fluid large teal button button-connect-modal" [ngClass]="{'loading' : loadingButton}" style="margin-left:0px" (click)="startConnection()">Se connecter <i class="right sign in icon"></i></div>
				</div>
				<div *ngIf="error" class="ui error error-message">
					{{errorTextSecretKey}}
				</div>
			</form>
			<div class="ui message">
				Vous n'êtes pas encore membre ? <a href="">Rejoindre la communauté</a>
			</div>
		</div>
	</div>
</div>
<div class="ui active dimmer" *ngIf="loading">
	<div class="ui indeterminate large text loader" [hidden]="true">Récupération de vos informations, veuillez-patientez svp ...</div>
</div>