<div class="ui inverted segment" style="padding: 0.3em!important;margin-bottom:0px!important">
	<div class="ui inverted secondary menu right">
		<a class="item" [ngClass]="{'active': active[0]}" (click)="changeActiveMenuItem(0, 'home')">
			Accueil <i class="right home icon" style="margin-left:5px"></i>
		</a>
		<a class="item" [ngClass]="{'active': active[1]}">
			{{user.mail}} [{{user.group}}] <i class="right user icon" style="margin-left:5px"></i>
		</a>
		<a class="item" [ngClass]="{'active': active[2]}" (click)="toggleSideBar()">
			Récentes recherches <i class="right history icon" style="margin-left:5px"></i>
		</a>

		<a *ngIf="(user.group == 'Administrator') || (user.group == 'Editor')" class="item" [ngClass]="{'active': active[3]}" (click)="changeActiveMenuItem(3, 'manage-members')">
			Gestion membres<a class="ui green circular label">{{nbNewMembers}}</a><i class="right users icon" style="margin-left:5px"></i>
		</a>
		<a class="item right" data-tooltip="Cette réputation correspond à votre Réputation P" data-position="bottom center" data-inverted="">
			Ma réputation <a class="ui red left pointing label" [ngClass]="{'blue': user.reputation > -1 }">{{user.reputation}}</a>
		</a>
		<a class="item" style="margin-left: auto;" (click)="showInfo()" data-tooltip="Infos GraphToLearn et son fonctionnement" data-inverted=""
		 data-position="bottom center">
			<i class="info icon" style="margin-left:5px"></i>
		</a>
		<a class="item" (click)="showFeedBack()" data-tooltip="Donner un feedback" data-inverted="" data-position="bottom center">
			<i class="talk icon" style="margin-left:5px"></i>
		</a>
		<a class="item" (click)="showOptions()" data-tooltip="Paramètres" data-inverted="" data-position="bottom center">
			<i class="settings icon" style="margin-left:5px"></i>
		</a>
		<a class="item right" (click)="logout()">
			Se déconnecter <i class="right sign out icon" style="margin-left:5px"></i>
		</a>
	</div>
</div>

<div class="ui feedback modal">
	<i class="close icon" (click)="hideModalOptions()"></i>
	<div class="header">
		Feedback sur GraphToLearn
	</div>
	<div class="scrolling content">
		<p>Donner votre avis sur <strong>GraphToLearn</strong> et donner des propositions d'amélioration afin de renforcer l'expérience
			de l'utilisateur à travers l'outil. </p>
		<h3>Votre avis
			<div class="ui rating" data-max-rating="5" style="margin-left:5px"></div>
		</h3>
		<hr>
		<div class="ui threaded comments" style="min-width: 100%;">
			<h3 class="ui dividing header">Propositions</h3>
			<div *ngFor="let feed of allFeedbacks; let i = index" class="comment">
				<a class="avatar">
					<img src="../assets/images/user.jpg">
				  </a>
				<div class="content">
					<a class="author">{{feed.author}}</a>
					<div class="metadata">
						<span class="date">{{feed.timestamp}}</span>
					</div>
					<div class="text">
						{{feed.proposition}}
					</div>
				</div>
			</div>

			<form class="ui reply form fluid">
				<div class="field">
					<textarea [(ngModel)]="newProposition" [ngModelOptions]="{standalone: true}"></textarea>
				</div>
				<div class="ui fluid large blue labeled submit icon button button-blur" [ngClass]="{'loading': loadingAdd}" (click)="addProposition()">
					<i class="icon edit"></i> Ajouter proposition
				</div>
			</form>
		</div>
	</div>
</div>


<div class="ui info modal">
	<i class="close icon" (click)="hideModalOptions()"></i>
	<div class="header">
		Informations sur GraphToLearn
	</div>
	<div class="scrolling content">
		<h3>Objectifs</h3>
		<p>
			L'outil sert à pouvoir rechercher des mots qui ont été créé par les gens de la communauté GraphToLearn. Ces mots là apparaîtront
			à l'utilisateur de manière graphique (3D) grâce à la librairie <strong>BabylonJS</strong>. Plusieurs possibilités s'offrent
			alors pour l'utilisateur:<br><br> 1 - Donner son avis sur un contenu, cela améliorera alors la réputation du mot lorsqu'il
			sera recherché une nouvelle fois <br> 2 - Commenter le mot; <br>3 - Modifier le mot donnera <strong>1</strong> de réputation
			en plus à l'utilisateur qui a apporté la modifications;
		</p>
		<hr>
		<h3>Réputation</h3>
		<p>La réputation est l’importance quantifiée qui sert à distinguer, évaluer et différencier toutes les entrées et les membres
			de la communauté selon la recherche effectuée. <br> Règles définis <br> • Toutes les entrées et personnes doivent avoir
			une réputation. <br> • Si une entrée est associée à x module(s), alors elle possède x réputation(s), chacune correspondant
			à un module. <br>
		</p>
		<hr>
		<h3>Algorithme de classification collaborative</h3>
		<p>L'algorithme est construit grâce à 6 règles métiers.</p>
		<table class="ui single line table">
			<thead>
				<tr>
					<th>Nom de la règle</th>
					<th>Son coefficient</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Interne</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Réputation P</td>
					<td>2.5</td>
				</tr>
				<tr>
					<td>Avis sur le contenu</td>
					<td>2</td>
				</tr>
				<tr>
					<td>Vue / clic</td>
					<td>1.5</td>
				</tr>

				<tr>
					<td>Mise à jour</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Timestamp création</td>
					<td>0.5</td>
				</tr>
			</tbody>
		</table>
		<p>Explications des règles métiers</p>
		<div class="ui items">
			<div class="item">
				<div class="content">
					<a class="header">Interne</a>
					<div class="description">
						<p>Une entrée a la priorité lorsqu’elle apparaît plus souvent dans les objectifs d’un module.</p>
						<p>C’est-à-dire que chaque entrée répertorie le nombre de fois où elle est citée dans les objectifs des modules auxquels
							elle est liée. Les entrées seront alors triées. Celles qui ont de meilleurs résultats apparaissent au début, les autres
							vers la fin.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Réputation P (Désactivée)</a>
					<div class="description">
						<p>Une entrée a la priorité lorsqu’elle a été créée par une personne avec une meilleure Réputation P.</p>
						<p>Dans cette règle, la réputation en question est celle d’une personne et non d’une entrée. En effet, le solde du compte
							Stellar de la personne qui a créé l’entrée est consulté et transformé en réputation. <br>Exemple : une personne possède
							x dans la monnaie Stellar, elle possède alors x de réputation.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Avis sur le contenu</a>
					<div class="description">
						<p>Une entrée a la priorité lorsqu’un meilleur score est obtenu pour la formule qui suit : <br> • (Nombre de votes positifs
							- Nombre de votes négatifs) = score
						</p>
						<p>La soustraction de ces deux résultats fera ainsi variée le score. Si le score obtenu est négatif cela voudra dire que
							l’entrée possède plus d’avis négatifs que positifs. En conséquence, elle fera « théoriquement » baisser la réputation
							(importance du terme) dès l’application de cette règle.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Vue / Clic</a>
					<div class="description">
						<p>Une entrée a la priorité lorsqu’elle a été recherchée plus souvent et récemment.</p>
						<p>Toutes les informations concernant une entrée sont stockées sur IPFS via l’API Cowaboo. GraphToLearn lance une fonction
							qui récupère le nombre de vues ou clics qu’une entrée possède. Ces données peuvent être consultées par les utilisateurs.
							C’est un choix que j’ai fait sur l’outil. De ce fait, je ne voulais pas privatiser les données concernant les actions
							d’un utilisateur.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Mise à jour (Non implémentée)</a>
					<div class="description">
						<p>Une entrée a la priorité lorsqu’elle a subi une mise à jour ou modification récente et fréquente.</p>
						<p>Cette règle n’a pas encore été implémentée. En effet, il était question de pouvoir modifier une entrée. Malheureusement,
							cette fonctionnalité à l’heure où j’écris n’a pas encore été intégrée dans l’outil GraphToLearn. En conséquence, cette
							règle n’est pas utilisée par l’algorithme.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Timestamp création</a>
					<div class="description">
						<p>Une entrée insérée plus récemment, a la priorité sur les plus anciennes.</p>
						<p>La date de création est stockée lorsqu’une entrée est insérée dans l’outil automatiquement grâce à l’API Cowaboo. L’outil
							compare ainsi les entrées entre elles et détermine lesquelles sont prioritaires.</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<h3>API</h3>
		<a>http://groups.cowaboo.net/group-graphToLearn/public/api</a><br>
		<h5>L’outil utilise 8 observatoires qui vous sont présentés ci-dessous, sous forme de tableau.</h5>
		<table class="ui single line table">
			<thead>
				<tr>
					<th>Nom de l'observatoire</th>
					<th>Son contenu</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Types</td>
					<td>Contient tous les types disponibles à attribuer à une entrée.</td>
				</tr>
				<tr>
					<td>Context</td>
					<td>Contient tous les contextes (thèmes) disponibles à attribuer à une entrée.</td>
				</tr>
				<tr>
					<td>Modules</td>
					<td>Contient tous les modules existants et disponibles qui peuvent être attribués à une entrée.</td>
				</tr>
				<tr>
					<td>Words</td>
					<td>Contient toutes les entrées présentes sur GraphToLearn.</td>
				</tr>

				<tr>
					<td>History</td>
					<td>Contient les informations de l’historique de recherche de chaque membre.</td>
				</tr>
				<tr>
					<td>Members</td>
					<td>Contient les informations concernant tous les membres.</td>
				</tr>
				<tr>
					<td>Feedback</td>
					<td>Contient toutes les informations d’un membre lorsqu’il a donné un feedback dans l’outil. Son avis et ses propositions
						sont enregistrés ici.</td>
				</tr>
				<tr>
					<td>Settings</td>
					<td>Contient tous les paramètres de l’outil.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div class="ui options modal">
	<i class="close icon" (click)="hideModalOptions()"></i>
	<div class="header">
		Paramètres de l'outil
	</div>
	<div class="scrolling content">
		<p>Ici, vous pouvez ajuster certains réglages afin d'améliorer votre expérience sur l'outil <strong>GraphToLearn</strong></p>
		<hr>
		<div class="ui top attached tabular menu">
			<div class="item active" data-tab="search" style="cursor:pointer!important">Recherche</div>
			<div class="item" data-tab="reputation" style="cursor:pointer!important">Réputation</div>
		</div>
		<div class="ui bottom attached tab segment active" data-tab="search" style="text-align:center">
			<h4>Couleurs</h4>
			<form class="ui form" [ngClass]="{'loading': loadingSaveOptions}">
				<div class="field">
					<label>Terme recherché : </label>
					<input type="text" [(ngModel)]="settingsGeneral.colSearchTerm" [ngModelOptions]="{standalone: true}" name="search-term" placeholder="Couleur ..."
					 style="width: 150px"><a class="ui empty circular label" [ngStyle]="{'background-color': settingsGeneral.colSearchTerm}" style="margin-left: 5px;width: 15px;height: 15px;margin-top: 10px;"></a>
				</div>
				<div class="field">
					<label>Mots clés: </label>
					<input type="text" [(ngModel)]="settingsGeneral.colKeyWords" [ngModelOptions]="{standalone: true}" name="key-word" placeholder="Couleur ..."
					 style="width: 150px"><a class="ui empty circular label" [ngStyle]="{'background-color': settingsGeneral.colKeyWords}" style="margin-left: 5px;width: 15px;height: 15px;margin-top: 10px;"></a>
				</div>
				<div class="field">
					<label>Module : </label>
					<input type="text" [(ngModel)]="settingsGeneral.colModule" [ngModelOptions]="{standalone: true}" name="module" placeholder="Couleur ..."
					 style="width: 150px"><a class="ui empty circular label" [ngStyle]="{'background-color': settingsGeneral.colModule}" style="margin-left: 5px;width: 15px;height: 15px;margin-top: 10px;"></a>
				</div>
				<div class="field">
					<label>Autres termes : </label>
					<input type="text" [(ngModel)]="settingsGeneral.colOtherTerms" [ngModelOptions]="{standalone: true}" name="other-terms" placeholder="Couleur ..."
					 style="width: 150px"><a class="ui empty circular label" [ngStyle]="{'background-color': settingsGeneral.colOtherTerms}" style="margin-left: 5px;width: 15px;height: 15px;margin-top: 10px;"></a>
				</div>

			</form>
		</div>
		<div class="ui bottom attached tab segment" data-tab="reputation" style="text-align:center">
			<div *ngIf="(user.group != 'Administrator')">
				<div class="ui message" style="text-align:left">
					<div class="header">
						Non autorisé
					</div>
					<p>Seul les membres autorisés peuvent accéder à ces options</p>
				</div>
			</div>
			<div *ngIf="(user.group == 'Administrator')" class="ui message" style="text-align:left">
				<div class="header">
					Modification de la distribution de la réputation
				</div>
				<p>Vous êtes administrateur vous pouvez donc changer les niveaux de distribution de la réputation configurés
					dans l'outil en changeant les valeurs ci-dessous. <br><strong> <span style="color:#C01515">Attention</span>, les changements effectués auront des repércussions sur l'ensemble des autres membres. En effet, les modifications seront apportées aussi sur tous les autres membres de la communauté, à ne pas négliger! </strong></p>
			</div>
			<form *ngIf="(user.group == 'Administrator')" [ngClass]="{'loading': loadingSaveOptions}" class="ui form">
				<div class="field">
					<label>Réputation nécessaire pour faire partie d'un groupe d'éditeurs :</label>
					<input type="number" (ngModelChange)="isValidNumber(settingsReputation, 1)"  [(ngModel)]="settingsReputation.repIntegrationEditor" [ngModelOptions]="{standalone: true}" name="search-term"
					 style="width: 70px">
				</div>
				<div class="field">
					<label>Réputation donné lorsqu'un utilisateur <span style="color:#C01515">apprécie le contenu d'un terme</span></label>
					<input type="number" (ngModelChange)="isValidNumber(settingsReputation, 2)" [(ngModel)]="settingsReputation.repContribution" [ngModelOptions]="{standalone: true}" name="key-word"
					 style="width: 70px">
				</div>
				<div class="field">
					<label>Réputation donné lorsqu'un utilisateur <span style="color:#C01515">modifie le contenu d'un terme</span></label>
					<input type="number" (ngModelChange)="isValidNumber(settingsReputation, 3)" [(ngModel)]="settingsReputation.repModify" [ngModelOptions]="{standalone: true}" name="module" style="width: 70px">
				</div>
				<div class="field">
					<label>Réputation donné lorsqu'un utilisateur <span style="color:#C01515">insére un nouveau terme</span></label>
					<input type="number" (ngModelChange)="isValidNumber(settingsReputation, 4)" [(ngModel)]="settingsReputation.repNew" [ngModelOptions]="{standalone: true}" name="other-terms" style="width: 70px">
				</div>
				<div class="field">
					<label>Réputation donné lorsqu'un utilisateur <span style="color:#C01515">fait une révision (commentaire) sur un terme</span></label>
					<input type="number" (ngModelChange)="isValidNumber(settingsReputation, 5)" [(ngModel)]="settingsReputation.repRevision" [ngModelOptions]="{standalone: true}" name="other-terms"
					 style="width: 70px">
				</div>

			</form>
		</div>
		<div class="ui fluid large approve button button-blur" style="margin-left:0px"  [ngClass]="{'loading': loadingSaveOptions}"  (click)="saveOptions()">Enregistrer modifications<i class="right checkmark icon"></i></div>
	</div>

</div>

<div class="ui mini modal">
	<div class="header">
		Déconnexion
	</div>
	<div class="content">
		<p>Voulez-vous vraiment vous déconnecter ?</p>
	</div>
	<div class="actions">
		<div class="ui negative button">
			Non
		</div>
		<div class="ui positive right labeled icon button">
			Oui
			<i class="checkmark icon"></i>
		</div>
	</div>
</div>
<div class="ui sidebar inverted vertical menu">
	<a class="item" style="font-size:1.1em;text-align:center;"> <span style="margin-bottom:10px">Historique de vos recherches</span>
		<div class="ui animated fluid button" tabindex="0" style="margin-top:10px!important" (click)="delete()">
			<div class="visible content">Tout effacer</div>
			<div class="hidden content">
				<i class="delete icon"></i>
			</div>
		</div>
	</a>
	<!-- href="http://localhost:4200/search/{{his}}" -->
	<a *ngFor="let his of historySearch; let i = index" class="item" (click)="searchSelectedWord(his)">
		{{his}} <i class="search icon"></i>
	</a>
</div>