[hidden] {
  	display: none !important;
}

.input-insert {
	text-align: center!important; 
	/*border-image: url('/assets/images/blur-2.jpg') 30 30 repeat!important;*/
	border-image-width: 1!important;
	margin-bottom: 18px!important;
}

.button-home {
	background-color: #1B1C1D;
	color:rgba(255,255,255,.7)!important;
}

.button-home:hover {
	background-color: rgba(255,255,255,.7)!important;
	color:#1B1C1D!important;
}

.button-home:active {
	background-color: #0c5a4a;
	color:white;
}

.button-blur {
	background-color: #16a085;
	color:white;
}

.button-blur:active {
	background-color: #0c5a4a;
	color:white;
}
