<router-outlet></router-outlet>

<h2 class="ui icon header" style="margin-top:60px; margin-bottom: -200px">
	<i class="settings icon" style="color:white"></i>
	<div class="content" style="color:white">
		Insertion d'un terme
	</div>
</h2>
<div class="ui icon message"  [hidden]="!search">
	<i class="notched circle loading icon"></i>
	<div class="content">
		<div class="header">
			Juste une seconde ...
		</div>
		<p>Nous insérons le contenu et vous serez averti dès que la transaction sera terminé.</p>
	</div>
</div>
<form id="insert-form" class="ui form" style="background-color: white; padding: 25px; text-align: center; margin-top:50px">
	<div class="field icon required">
		<label>Mot</label>
		<div class="ui icon input">
			<i class="left info icon"></i>
			<input  class="input-insert" type="text" [(ngModel)]="word" [ngModelOptions]="{standalone: true}" placeholder="AAA, Module, ..." />
		</div>
	</div>
	<div class="field icon">
		<label>Type</label>
		<div class="ui icon input">
			<i class="left info icon"></i>
			<div class="ui fluid selection dropdown input-insert" style="text-align: center">
				<input type="hidden" name="gender">
				<i class="dropdown icon"></i>
				<div class="default text"  id="select-types">Type du terme : Acronyme, Expression ou Terme</div>
				<div class="menu" >
					<div class="item" *ngFor="let type of types; let i = index" data-value="{i}">{{type.value}}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="field icon required">
		<label>Source</label>
		<div class="ui icon input">
			<i class="left users icon"></i>
			<input class="input-insert" style="text-align: center" type="text" [(ngModel)]="sources"  [ngModelOptions]="{standalone: true}"  placeholder="IDEC Metafichier, Google, Wikipedia, ...">
		</div>
	</div>
	<div class="field icon">
		<label>Modules</label>
		<div class="ui buttons">
			<button class="ui button" [ngStyle]="{'background-color': styleModuleEx, 'color': styleModuleExCol}" (click)="switchModule(false, 'A')" type="button">Existant</button>
			<div class="or" data-text="ou"></div>
			<button class="ui button" [ngStyle]="{'background-color': styleModuleNew, 'color': styleModuleNewCol}" (click)="switchModule(true, 'B')" type="button">Nouveau</button>
		</div>
		<div class="ui fluid multiple remote search selection dropdown input-insert modules" style="margin-top:5px" [hidden]="new">
			<input type="hidden" name="receipt">
			<i class="dropdown icon"></i>
			<div class="default text">Sélectionner les modules</div>
			<div class="menu">
				
			</div>
		</div>
		<div [hidden]="!new" class="ui icon input" style="margin-top:5px">
			<i class="left search icon"></i>
			<input class="input-insert" style="text-align: center" type="text" placeholder="166-486, 207">
		</div>
	</div>
	<div class="field icon">
		<label>Définition</label>
		<div class="ui icon input">
			<i class="left info icon"></i>
			<input class="input-insert" style="text-align: center" [(ngModel)]="definition"  [ngModelOptions]="{standalone: true}" type="text" placeholder="AAA, Module, ...">
		</div>
	</div>
	<div class="field icon required">
		<label>Explication</label>
		<i class="left talk icon"></i>
		<textarea class="input-insert" [(ngModel)]="explications"  [ngModelOptions]="{standalone: true}" rows="3" style="text-align: left!important"></textarea>
	</div>
	<div class="field icon">
		<label>Contexte / Domaine</label>
		<div class="ui icon input">
			<div class="ui icon input">
				<i class="left info icon"></i>
				<div class="ui fluid selection dropdown input-insert" style="text-align: center">
					<input type="hidden" name="gender">
					<i class="dropdown icon"></i>
					<div class="default text" id="select-context">Sécurité, Juridique, ...</div>
					<div class="menu" >
						<div class="item" *ngFor="let con of contexts; let i = index" data-value="{i}">{{con.value}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<button  style="margin-top:10px;min-width:200px!important " class="ui button button-blur" (click)="saveInsertion()">Enregistrer</button>
<br><br><br><br>
{{ data | json}}

