<!--The content below is only a placeholder and can be replaced.-->
<jaspero-alerts [defaultSettings]="options"></jaspero-alerts>
<img src="/assets/images/blur-3.jpg" alt="" width="100%" height="100%" style="position:fixed; top:0px; z-index: -1;opacity: 0.9">
<div style="margin-top: 50px; margin-bottom: 100px">
	<h1 class="ui center aligned icon header" style="font-size:350%!important;color:white">
		{{title}}
		<div class="sub header" style="color:white">L'outil de recherche intelligente en collaboration avec <span style="font-weight: bold; font-size: 1.2em">Cowaboo </span></div>
	</h1>
</div>
<router-outlet></router-outlet>

