.text-center{
	text-align:center;
}

.margin-top-xl{
	margin-top: 60px;
}

.blur-background{
	background-color: white;
}

.image-back {
	background-image: url(/assets/images/blur.jpg);
	padding-top: 20px;
	position: static;
	width: 100%;
	left: 0px;
	bottom: 0px;
}