/* You can add global styles to this file, and also import other style files */
.button-home {
	background-color: #1B1C1D!important;
	color:rgba(255,255,255,.7)!important;
}

.button-home:hover {
	background-color: rgba(255,255,255,.7)!important;
	color:#1B1C1D!important;
}

.button-home:active {
	background-color: #0c5a4a;
	color:white;
}