<app-menu></app-menu>

<div style="width: 100%;text-align: center!important;">
	<div style="background-color:#1B1C1D;height: 45px;width: 500px;position: fixed;top: 56px;right: 0px;color: #eee;font-weight: bold;border-radius: 5px;font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;">
		<div style="margin-top:3px">Légende</div>
		<div [ngStyle]="{'background-color': user.settingsGeneral.colSearchTerm}" style="width:12px; height: 12px; border-radius:12px; display: inline-block;margin-right: 6px"></div><span style="font-size:0.9em; margin-right: 12px">Terme recherché</span>
		<div [ngStyle]="{'background-color': user.settingsGeneral.colKeyWords}" style="width:12px; height: 12px; border-radius:12px; display: inline-block;margin-right: 6px"></div><span style="font-size:0.9em; margin-right: 12px">Mot clé</span>
		<div [ngStyle]="{'background-color': user.settingsGeneral.colModule}" style="width:12px; height: 12px; border-radius:12px; display: inline-block;margin-right: 6px"></div><span style="font-size:0.9em; margin-right: 12px">Module</span>
		<div [ngStyle]="{'background-color': user.settingsGeneral.colOtherTerms}" style="width:12px; height: 12px; border-radius:12px; display: inline-block;margin-right: 6px"></div><span style="font-size:0.9em; margin-right: 12px">Autres termes</span>
	</div>

	<div></div>
	
	<div style="width: 100%;display: inline-block;font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;">
		<!--<div *ngIf="loading" class="ui active dimmer">
			<div class="ui large text loader">Initialisation de l'interface ...</div>
		</div>-->
		<div *ngIf="loadingLike" class="ui active dimmer">
			<div class="ui large text loader">Transaction en cours ...</div>
		</div>
		<div *ngIf="loadingModif" class="ui active dimmer">
			<div class="ui large text loader"><span *ngIf="user.group == 'Administrator'">Mise à jour des infomations ... </span><span *ngIf="user.group == 'Editor'">Envoie de la demande de modification ...</span></div>
		</div>
		<h2 class="ui icon header" style="margin-top:25px; text-align:center!important;margin-bottom: -200px">
			<div class="content" style="color:#F8F9FB; font-weight:200">
				Résultat de la recherche :
				<div class="ui left pointing label" style="background-color:#1B1C1D; font-size:0.8em">
					<strong style="color:#2185d0!important;">{{wordSel.name}}</strong>
				</div>

				<div *ngIf="wordFind" class="ui statistic small" style="margin-left:25px">
					<div class="value" style="color:#1B1C1D">
						{{wordSel.searchClick}}
					</div>
					<div class="label" style="color:#1B1C1D">
						Vues
					</div>
				</div>

			</div>
		</h2>

		<div *ngIf="wordFind" class="scrollbar" style="position: fixed;top: 430px;left: 0px;max-width: 400px; overflow:auto;max-height: 210px">
			<a class="ui pointing below label" style="color: #eee; background-color:#1B1C1D;text-align: center;font-size: 1em;font-weight: 600;margin-right: 0px;display:block; margin-bottom:-5px">Réputation du terme recherché <strong style="color:#2185d0!important;font-size:1.2em">{{wordSel.name}}</strong> dans les modules suivants :</a>
			<div *ngIf="wordSel.modulesReputation.length == 0" style="font-size: 1em;font-weight: bold;padding-top: 10px;padding-bottom: 10px;background-color: rgba(26, 26, 26, 0.79);color: white;">Aucun module n'est associé à ce mot</div>
			<div (mouseover)="showInfos($event, i)" (mouseleave)="showInfosLeave($event, i)" *ngFor="let mod of wordSel.modulesReputation; let i = index"
			 class="ui statistic small" style="margin-left:25px;margin-bottom:5px">
				<div class="label" style="color:#1B1C1D">
					<div class="cusprogress" [ngStyle]="{'color': mod.color}">
						<span class="cusprogress-left">
											<span class="cusprogress-bar" [ngStyle]="{'animation': mod.animationLeft}"></span>
						</span>
						<span class="cusprogress-right">
											<span class="cusprogress-bar" [ngStyle]="{'animation': mod.animationRight}"></span>
						</span>
						<div class="ui blurring dimmable cusprogress-value" style="padding-top:10px">
							<span id="pro{{i}}" style="display:none">
								<span style="font-size: 1.2em">{{mod.totalReput}}</span><span style="font-size: 0.5em;"> / {{mod.totalPoints}}</span><br>
							</span>
							<!---->
							<span id="proDefault{{i}}" style="font-size: 1.3em">{{ ((mod.totalReput * 100) / mod.totalPoints) | round }} % </span>
						</div>
					</div>
					<span class="ui top pointing small label" style="margin-top:10px!important;background-color:#1B1C1D;color:#fff; border-radius:50px;font-size:1.1em"> {{mod.id.id}}</span>
				</div>

			</div>

		</div>

		<div *ngIf="wordFind" class="dg main a" style="width: 350px;position: fixed; top:150px; right: 0;margin-right: 0px;font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;font-size: 0.9em;text-shadow: none!important;">
			<div class="close-button" style="width: 350px;height:50px;padding-top: 5px;font-size: 1.3em;line-height:20px!important;user-select: none;"
			 (click)="hideOrShow($event, 1)">
				Informations sur <br><strong class="not-active" style="color:#2185d0!important;font-size:1.2em">{{wordSel.name}}</strong>
				<div class="not-active" style="float: right; margin-top:-10px!important;font-size: 0.7em">
					<i class="icon" [ngClass]="{'minus': !collapsedInfos, 'plus': collapsedInfos}"></i>
				</div>
			</div>
			<div style="width: 6px; margin-left: -3px; height: 81px; cursor: ew-resize; position: absolute;"></div>
			<ul style="height: auto;">
				<li class="cr number" style="height: 35px;line-height: 35px">
					<div>
						<span class="property-name" style="text-align:left;padding-left:8px">Type : </span>
						<div id="style-1" class="c" style="font-weight: bold; color:white; font-size:1em; text-align:right;padding-right: 15px;overflow: overlay"><span *ngIf="(wordSel.type.length < 2)">Aucun</span>{{wordSel.type}}</div>
					</div>
				</li>
				<li *ngIf="(wordSel.definition != '')" class="cr number" style="height: 35px;line-height: 35px">
					<div>
						<span class="property-name" style="text-align:left;padding-left:8px">Définition : </span>
						<div id="style-1" class="c" style="font-weight: bold; color:white; font-size:1em;text-align:right;padding-right: 15px;overflow: overlay">{{wordSel.definition}}</div>
					</div>
				</li>
				<li class="cr number" style="height: 35px;line-height: 35px">
					<div>
						<span class="property-name" style="text-align:left;padding-left:8px">Source : </span>
						<div id="style-1" class="c" style="font-weight: bold; color:white; font-size:1em;text-align:right;padding-right: 15px;overflow: overlay">{{wordSel.source}} <i *ngIf="wordSel.source == 'Google'" class="google icon"></i><i *ngIf="wordSel.source == 'Wikipédia'" class="wikipedia icon"></i></div>
					</div>
				</li>
				<li class="cr number" style="height: 35px;line-height: 35px">
					<div>
						<span class="property-name" style="text-align:left;padding-left:8px">Contexte : </span>
						<div id="style-1" class="c" style="font-weight: bold; color:white; font-size:1em;text-align:right;padding-right: 15px;overflow: overlay"><span *ngIf="(wordSel.context == '')">Aucun</span>{{wordSel.context}}</div>
					</div>
				</li>
				<li *ngIf="wordSel.lastUpdated != ''" class="cr number" style="height: 35px;line-height: 35px">
					<div>
						<span class="property-name" style="text-align:left;padding-left:8px">Dernière modification:</span>
						<div id="style-1" class="c">
							<div id="lastModif" class="circular ui violet icon button" data-tooltip="Voir la dernière modification" data-inverted=""
							 data-position="top center" style="width: 20px;height: 20px;border-radius: 20px;float: left;margin: 7px;padding: 3px;overflow: overlay"
							 (click)="showLastModification()">
								<i class="icon info"></i>
							</div>
							<span style="font-weight: bold; color:white; font-size:1em;text-align:right;float:right;padding-right: 15px">{{wordSel.lastUpdated}}</span>

						</div>
					</div>
				</li>
				<li *ngIf="wordSel.timestampCreation != ''" class="cr number" style="height: 35px;line-height: 35px">
					<div>
						<span class="property-name" style="text-align:left;padding-left:8px">Date de création :</span>
						<div class="c" style="font-weight: bold; color:white; font-size:1em;text-align:right;padding-right: 15px;overflow: auto">{{wordSel.timestampCreation}}</div>
					</div>
				</li>
				<li class="cr number" style="height: 60px;overflow: auto;">
					<div class='header'>Créé par</div>
					<div class='content' style="font-weight: bold; color:white; font-size:1em">
						{{wordSel.author.name}}
						<div class="ui blue small left pointing label">
							<strong>{{wordSel.author.reputation}}</strong>
						</div>
					</div>
				</li>
				<li class="cr number" style="height: auto;max-height: 90px!important; overflow: auto">
					<div>
						<div class='header'>Appartient aux modules suivants : </div>
						<div class='content'>
							<span *ngIf="wordSel.modules.id == '' || wordSel.modules.id == ' '" style="font-weight: bold; color:white; font-size:1em">Aucun module n'est associé</span>
							<div *ngIf="wordSel.modules.id != '' && wordSel.modules.id != ' '">
								<a  *ngFor="let module of wordSel.modules.id" class="ui orange label" style="margin-left:15px;  margin-top:5px;margin-bottom:10px">{{module}}</a>
							</div>
						</div>
					</div>
				</li>


				<li class="cr number" style="height: auto;max-height: 90px!important; overflow: auto">
					<div class='header'>Mots clés</div>
					<div class='content'>
						<span *ngIf="wordSel.keywords.length == 0" style="font-weight: bold; color:white; font-size:1em">Aucun mot clé n'est associé</span>
						<a *ngFor="let tag of wordSel.keywords" class="ui grey tag label" style="margin-left:15px;  margin-top:5px;margin-bottom:10px">{{tag}}</a>
					</div>
				</li>

			</ul>
			<div class="ui labeled button" [ngClass]='{disabled: !wordSel.canLike}' (click)="like()">
				<div class="ui blue button" [ngClass]="{'loading' : loadingLike}" style="width: 270px;">
					<i class="smile icon"></i> Contenu très utile
				</div>
				<a tabindex="0" class="ui basic blue left pointing label" style="width: 80px; text-align: center">{{wordSel.like.number}}</a>
			</div>
			<div class="ui labeled button" tabindex="1" [ngClass]='{disabled: !wordSel.canDislike}' (click)="dislike()">
				<div class="ui red button" [ngClass]="{'loading' : loading2}" style="width: 270px;">
					<i class="frown icon"></i> Contenu sans intérêt
				</div>
				<a tabindex="0" class="ui basic red left pointing label" style="width: 80px; text-align: center">{{wordSel.dislike.number}}</a>
			</div>
		</div>
		<button style="display:block; margin-top:-32px; margin-left: 50px;min-width:250px!important; font-size: 1.2em;" class="ui button button-home"
		 (click)="backToHome()"> 
			<i class="reply icon"></i> Retour 
			<span style="margin-left:8px">|</span>
			<i class="home icon" style="margin-left:10px"></i>
		</button>

		<br>
		<div *ngIf="!wordFind" style="color:black; margin-top:10%;font-size:2.5em"><i style="font-size: 2.5em" class="search icon"></i><i style="font-size: 1em;margin-left:-5px;margin-top:-10px" class="remove circle icon"></i><br>Aucun mot n'a été trouvé qui correspond à votre recherche</div>
		<canvas *ngIf="wordFind" id="renderCanvas" style="outline: none;user-select: none !important;"></canvas>
	</div>
	<div *ngIf="wordFind" class="" style="position:fixed;top:180px;background-color:#1B1C1D!important; left:0; width: 100px;height:225px">
		<button *ngIf="user.group == 'Administrator'" (click)="showModifications()" class="circular ui icon button" style="display: block;position: absolute;margin-top: 30px;margin-left: 52px;"
		 data-tooltip="Modifier le terme sélectionné" data-inverted="" data-position="right center">
			<i class="icon pencil"></i>
		</button>
		<button [disabled]="user.group == 'Lambda'" *ngIf="user.group != 'Administrator'" (click)="showModifications()" class="circular ui icon button" style="display: block;position: absolute;margin-top: 30px;margin-left: 52px;"
		data-tooltip="Proposer une modification pour le terme sélectionné" data-inverted="" data-position="right center">
		   <i class="icon pencil"></i>
	   </button>

		<button *ngIf="user.group != 'Lambda'" (click)="focusAddComment()" class="circular ui icon button" style="display: block;position: absolute;margin-top: 95px;margin-left: 52px;"
		 data-tooltip="Donner son avis sur le terme sélectionné" data-inverted="" data-position="right center">
			<i class="icon comments"></i>
		</button>
		<button *ngIf="user.group == 'Lambda'"  (click)="focusAddComment()" class="circular ui icon button" style="display: block;position: absolute;margin-top: 95px;margin-left: 52px;"
		data-tooltip="Proposer un commentaire concernant le terme sélectionné" data-inverted="" data-position="right center">
		   <i class="icon comments"></i>
	   </button>
		<button [disabled]="true" class="circular ui icon button" style="display: block;position: absolute;margin-top:160px;margin-left: 52px;"
		 data-tooltip="Mettre ce terme en inactif" data-inverted="" data-position="right center">
			<i class="icon delete"></i>
		</button>
		<div class="close-button-actions" (click)="hideOrShow($event, 4)">A<br>C<br>T<br>I<br>O<br>N<br>S<br><i style="margin-top:50px;margin-left:3px;font-size:0.8em!important" class="icon not-active"
			 [ngClass]="{'minus': !collapsedActions, 'plus': collapsedActions}"> </i></div>
	</div>

	<div *ngIf="wordFind" class="dg main a" style="width: 59%;left:0;position: fixed;right: 0; margin-right:0px!important;bottom:0;font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;font-size: 0.9em;text-shadow: none!important;">
		<div class="close-button" style="width: 100%;height:40px;padding-top: 5px;font-size: 1.3em;line-height:25px!important;user-select: none;"
		 (click)="hideOrShow($event, 2)">Explications de <strong class="not-active" style="color:#2185d0!important;font-size:1.2em">{{wordSel.name}}</strong>
			<div class="not-active" style="float: right; font-size: 0.7em"><i class="icon" [ngClass]="{'minus': !collapsedMeaning, 'plus': collapsedMeaning}"></i></div>
		</div>
		<div style="width: 6px; margin-left: -3px; height: 81px; cursor: ew-resize; position: absolute;"></div>
		<ul style="height: auto;">
			<li class="cr" style="height: auto;text-align: left; padding: 5px!important; word-wrap: break-word;"><span style="font-size: 1.1em!important;font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;">{{wordSel.meaning}} [Source : {{wordSel.source}}]</span></li>
		</ul>
	</div>
	<div *ngIf="wordFind"  class="dg main a" style="width: 39%;right:0;position: fixed;margin-right:0px!important;right: 0; bottom:0;font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;font-size: 0.9em;text-shadow: none!important;">
		<div class="close-button" style="width: 100%;height:40px;padding-top: 5px;font-size: 1.3em;line-height:25px!important;user-select: none;"
		 (click)="hideOrShow($event, 3)">Espace commentaires et révisions
			<div class="not-active" style="float: right; font-size: 0.7em"><i class="icon" [ngClass]="{'minus': !collapsedComments, 'plus': collapsedComments}"></i></div>
		</div>
		<div style="width: 6px; margin-left: -3px; height: 81px; cursor: ew-resize; position: absolute;"></div>
		<ul id="commentsAndRevisions" class="collapse" style="height: auto;">
			<li class="cr" style="height: auto;text-align: left; padding: 5px!important; word-wrap: break-word;">
				<div class="ui comments" [ngClass]="{'loading': loadingAddComment}" style="max-height: 300px; overflow: auto">
					<div class="ui dimmer" [ngClass]="{'active': loadingAddComment}">
						<div class="ui loader"></div>
					</div>
					<div class="comment" *ngFor="let comment of wordSel.comments; let i = index">
						<a class="avatar" style="background-color: none">
							<img class="ui avatar image" src="../assets/images/user.png">
						</a>
						<div class="content">
							<a class="author" style="color:rgb(74, 141, 189)!important" >
								{{comment.author}}
							</a>
							<div class="metadata" style="color:#eee!important">
								<div class="date">{{comment.timestamp}}</div>
							</div>
							<div class="text" style="color:#eee!important">
								<p>{{comment.info}}</p>
							</div>
							<div class="actions">
								<a class="like" style="user-select:none" style="color:#eee!important" (click)="addLikeToComment(i)"><i class="thumbs up icon"></i> {{comment.likes.length}}</a>
								<!--<a class="reply" style="color:#63924D!important">Répondre</a>-->
								<a *ngIf="user.group != 'Lambda'" class="delete" style="color:rgb(100, 55, 55)!important" (click)="deleteComment(i)">Supprimer</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="cr" style="height: auto;text-align: left; padding: 5px!important; word-wrap: break-word;">
				<div class="ui form">
					<div class="field">
						<textarea id="newComment" rows="2" [(ngModel)]="newComment" [ngModelOptions]="{standalone: true}" placeholder="Écriver un commentaire"></textarea>
					</div>
					<div class="ui blue fluid labeled submit icon button" [ngClass]="{'loading': loadingAddComment}" (click)="addComment()">
						<span *ngIf="user.group != 'Lambda'"><i class="icon comment"></i> Ajouter commentaire</span>
						<span *ngIf="user.group == 'Lambda'"><i class="icon comment"></i> Proposer ce commentaire à la communauté</span>
					</div>
				</div>

			</li>
		</ul>
		<div class="ui modal lastModif">
			<div class="header">Information sur la dernière modification</div>
			<div class="scrolling content">
				<h3>Effectué par : {{wordSel.lastUpdatedAuthor}} <span style="float:right"><a style="text-decoration: line-through;color:red">Supprimer</a>  <a style="color:green;text-decoration: underline">Ajouter</a> </span></h3>
				<hr>
				<div class="ui grid">
					<div class="eight wide column">
						<h4>Avant la modification</h4>
						<h5 *ngIf="difName">Nom</h5>
						<p *ngIf="difName">{{lastModifItem.name}}</p>
						<h5 *ngIf="difType">Type</h5>
						<p *ngIf="difType">{{lastModifItem.type}}</p>
						<h5 *ngIf="difMeaning">Explications</h5>
						<p *ngIf="difMeaning">{{lastModifItem.meaning}}></p>
						<h5 *ngIf="difDefinition">Définition</h5>
						<p *ngIf="difDefinition">{{lastModifItem.definition}}</p>
						<h5 *ngIf="difSource">Source</h5>
						<p *ngIf="difSource">{{lastModifItem.source}}</p>
						<h5 *ngIf="difContext">Contexte/Domaine</h5>
						<p *ngIf="difContext">{{lastModifItem.context}}</p>
						<h5 *ngIf="difKeywords">Mots clés</h5>
						<p *ngIf="difKeywords">{{lastModifItem.keywords}}</p>

					</div>

					<div class="eight wide column">
						<h4>Après la modification</h4>
						<h5 *ngIf="difName">Nom</h5>
						<p id="afterModifName"></p>
						<h5 *ngIf="difType">Type</h5>
						<p id="afterModifType"></p>
						<h5 *ngIf="difMeaning">Explications</h5>
						<p id="afterModifMeaning"></p>
						<h5 *ngIf="difDefinition">Définition</h5>
						<p id="afterModifDefinition"></p>
						<h5 *ngIf="difSource">Source</h5>
						<p id="afterModifSource"></p>
						<h5 *ngIf="difContext">Contexte/Domaine</h5>
						<p id="afterModifContext"></p>
						<h5 *ngIf="difKeywords">Mots clés</h5>
						<p id="afterModifKeywords"></p>
					</div>
				</div>
			</div>
		</div>


		<div class="ui modification fullscreen modal">
			<i class="close icon" (click)="hideModals()"></i>
			<div class="header" style="text-align:center">
				<span *ngIf="user.group == 'Administrator'" >Modification du terme : {{wordSel.name}}</span>
				<span *ngIf="user.group == 'Editor'" >Proposition de modification du terme : {{wordSel.name}}</span>
			</div>

			<div class="scrolling content">
				<form id="insert-form" class="ui form" [ngClass]="{'loading' : loadingModif}" style="background-color: white; padding: 25px; text-align: center">

					<div  class="field icon required">
						<label>Mot</label>
						<div class="ui icon input">
							<i id="wordInfo" class="left info icon"></i>
							<input [disabled]="disabled" style="text-align: center" class="input-insert" type="text" [(ngModel)]="word" [ngModelOptions]="{standalone: true}"
							 (ngModelChange)="isUnique(0, '#wordInfo', 'name')" placeholder="AAA, Module, ..." />
						</div>
						<div [hidden]="!nameChosen" class="ui top pointing basic label" [ngClass]="{'green': !nameTaken, 'red': nameTaken}">
							{{msgNameTaken}} <i class="icon" [ngClass]="{'checkmark': !nameTaken, 'minus circle' : nameTaken}"></i>
						</div>
					</div>
					<div class="ui success message">
						<div class="header">Form Completed</div>
						<p>You're all signed up for the newsletter.</p>
					</div>
					<div class="field icon">
						<label>Type</label>
						<div class="ui icon input">
							<i class="left info icon"></i>
							<div id="select-types" class="ui fluid selection dropdown insert-input" style="text-align: center">
								<input name="types" type="hidden">
								<i class="dropdown icon"></i>
								<div class="default text">Sélectionnez les types</div>
								<div class="menu">
								</div>
							</div>
						</div>
					</div>

					<div class="field icon required">
						<label>Explication</label>
						<i class="left talk icon"></i>
						<textarea class="input-insert" [(ngModel)]="meaning" [ngModelOptions]="{standalone: true}" rows="3" style="text-align: left!important"></textarea>
					</div>

					<div class="field icon">
						<label>Définition (Seulement si Acronyme)</label>
						<div class="ui icon input">
							<i class="left info icon"></i>
							<input class="input-insert" style="text-align: center" [(ngModel)]="definition" [ngModelOptions]="{standalone: true}" type="text"
							 placeholder="AAA, Module, ...">
						</div>
					</div>

					<div class="field icon required">
						<label>Source</label>
						<div class="ui icon input">
							<i class="left users icon"></i>
							<input class="input-insert" style="text-align: center" type="text" [(ngModel)]="source" [ngModelOptions]="{standalone: true}"
							 placeholder="IDEC Metafichier, Google, Wikipedia, ...">
						</div>
					</div>
					<div class="field icon">
						<label>Modules</label>
						<div class="ui message">
							<div class="header">
								Notion de modules
							</div>
							<ul class="list">
								<li>Il est très <strong>important</strong>, car le module va aider l'outil à créer le contexte de la recherche du <strong>terme</strong>									recherché</li>
								<li>Il est <strong>recommandé</strong> de lié le terme à un module, il est possible de créer un nouveau "module" </li>
							</ul>
						</div>
						<div class="ui buttons">
							<button class="ui button" [ngStyle]="{'background-color': styleModuleEx, 'color': styleModuleExCol}" (click)="switchModule(false, 'A')"
							 type="button">Existant</button>
							<div class="or" data-text="ou"></div>
							<button class="ui button" [ngStyle]="{'background-color': styleModuleNew, 'color': styleModuleNewCol}" (click)="switchModule(true, 'B')"
							 type="button">Nouveau</button>
						</div>
						<div class="ui fluid multiple search selection dropdown" [hidden]="newModule" style="margin-top:5px">
							<input name="tags" type="hidden">
							<i class="dropdown icon"></i>
							<div class="default text">Sélectionnez les modules</div>
							<div class="menu">
							</div>
						</div>
					</div>

					<div [hidden]="!newModule" class="ui segment" style="background-color: rgb(51, 51, 51);">
						<div class="ui form">
							<div class="field required" style="margin-top:5px;background-color: rgb(51, 51, 51)">
								<label style="color:white">N° du module</label>
								<div class="ui icon input">
									<i id="wordInfoModule" class="left info icon"></i>
									<input class="input-insert" [(ngModel)]="newModuleObj.id" [ngModelOptions]="{standalone: true}" (ngModelChange)="isUnique(1, '#wordInfoModule', 'id')"
									 style="text-align: center" type="text" placeholder="625">
								</div>
								<div [hidden]="!nameChosenModule" class="ui top pointing basic label" [ngClass]="{'green': !nameTakenModule, 'red': nameTakenModule}">
									{{msgIdModuleTaken}} <i class="icon" [ngClass]="{'checkmark': !nameTakenModule, 'minus circle' : nameTakenModule}"></i>
								</div>
							</div>
							<div class="field required" style="margin-top:5px">
								<label style="color:white">Nom du module</label>
								<input class="input-insert" [(ngModel)]="newModuleObj.name" [ngModelOptions]="{standalone: true}" style="text-align: center"
								 type="text" placeholder="Optimiser les réseaux">
							</div>
							<div class="field required">
								<label style="color:white">Objectifs du module</label>
								<textarea rows="3" [(ngModel)]="newModuleObj.goals" [ngModelOptions]="{standalone: true}" placeholder="Décriver des objectifs"></textarea>
							</div>
							<div *ngIf="errorAddModule" class="ui error error-message" style="margin-bottom: 10px;color: #db2828;">
								{{errorTextAddModule}}
							</div>
							<div class="ui fluid blue labeled submit icon button button-blur" [ngClass]="{'loading': loadingAddModule}" (click)="addModule()">
								<i class="icon add"></i> Ajouter module
							</div>
						</div>
					</div>


					<div class="field icon">
						<label>Contexte / Domaine</label>
						<div class="ui icon input">
							<div class="ui icon input">
								<i class="left info icon"></i>
								<div id="select-context" class="ui fluid selection dropdown insert-input" style="text-align: center">
									<input name="types" type="hidden">
									<i class="dropdown icon"></i>
									<div class="default text">Sélectionnez les modules</div>
									<div class="menu">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field icon" style="text-align: center!important">
						<label>Mots clés associés</label>
						<tag-input [(ngModel)]='items' [ngModelOptions]="{standalone: true}"></tag-input>
					</div>
					<div class="field icon required">
						<label style="color:#db2828; font-size: 0.8em; float: right;">Champ obligatoire </label>
					</div>
				</form>
			</div>
			<div class="actions">
				<div class="ui fluid large approve button button-blur" style="margin-top:15px;margin-left:0px" (click)="saveModifications()"><span *ngIf="user.group == 'Administrator'">Enregistrer modifications<i class="right checkmark icon"></i></span><span *ngIf="user.group == 'Editor'">Envoyer demande de modification<i class="right send icon"></i></span></div>
			</div>

		</div>
	</div>
</div>